body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
}
h1 {
    color: black;
}
h2, p {
    color: white;
}
form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
    width: 30vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
}
form input {
    outline: none;  
}

form input:focus {
    border: solid #007bff 2px;
    filter: drop-shadow(0 0 10px #007bff);
}
form input::selection {
    background: red;
    color: black;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #0056b3;
}
.CepCpf {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}
.CepCpf input {
    width: 200px;
}
.Questionario {
    width: 50%;
    height: calc(100% - 100px);
    overflow: scroll;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin-left: 25%;
    margin-top: -320px;
    transform: translateX(-50%);
    -webkit-animation: scale-out-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    animation: scale-out-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}
@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    }
    @keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
}
.Questionario::-webkit-scrollbar {
    width: 0px;
}
.Questionario .Card {
    padding: 10px;
    color: black;
    background: white;
    border-radius: 10px;
}
.Questionario .Card .Sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Questionario .Card h4 {
    font-size: 17px;
    text-align: left;
    margin: 0px;
    border-top: solid white 2px;
    padding-top: 5px;
}
.Questionario .Card .CardOptions {
    line-height: 30px;
    display: flex;
}
.Questionario .Card .CardOptions input {
    width: 20px;
    height: 20px;
}
.Questionario .Card .CardOptions label {
    margin: 0px 10px;
    font-size: 17px;
    font-weight: normal;
}
.TopLogin {
    -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    animation: scale-out-ver-top 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    margin-left: 35%;
}
@-webkit-keyframes scale-out-ver-top {
    0% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    }
    @keyframes scale-out-ver-top {
    0% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
}
.OpenQuestions {
    animation-delay: 2s;
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}
@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
                transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
    }
    @keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
                transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
    }
}